<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPNET_GROUP_PROJECT</title>
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")" type="text/css" />

</head>
<body>
    <div class="disable-select" id="titleBar">
        <h1>ASP Project - @ViewData["Title"]</h1>
    </div>
    <nav id="nav">
        <ul>
            <li><a asp-page="/Index">Home</a>
            <li><a asp-page="/Course">Course Info</a>
            <li><a asp-page="/Courses/ScheduleIndex">Timetable</a>
            <li><a asp-page="/Courses/Create">Create</a>
        </ul>
        <div class="login">
            <ul>
                <partial name="_LoginPartial" />
            </ul>

        </div>

    </nav>
    <nav id="nav-smalldisp">
        <div class="dropdown">
            <button class="dropbtn">
                v
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a asp-page="/Index">Home</a>
                <a asp-page="/Course">Course Info</a>
                <a asp-page="/Courses/ScheduleIndex">Timetable</a>
                <a asp-page="/Courses/Create">Create</a>
                <partial name="_LoginPartial" />
            </div>
        </div>
    </nav>

    @*<partial name="_CookieConsentPartial" />*@

    <div class="container body-content">
        @RenderBody()

    </div>


    <div class="footer">
        <hr />
        <footer>
            <p>&copy; 2021 - ASPNET_GROUP_PROJECT</p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
